.logo {
    height: 75px
}

.ar {
 direction: rtl;
 font-family: "Dubai";
}

header {
    background: #002538;
}

iframe {
    display: block;
    margin: 0 auto;
}

.ar > nav> .nav_body_left {
    left: auto !important;
    right: 0 !important;
}


.ar > nav> a > .nav_close {
    right: auto !important;
    left: -4rem !important;
}

.ar a {
    font-family: 'Metropolis'
}

.ar h1,h2,h3,h4,h5,h6 {
    font-family: 'Kufi' !important;
}


.ar .post_link > a {
    font-family: 'Kufi' !important;
}

.ar .nav_parent > a {
    font-family: 'Kufi' !important;
}

.ar > p {
    font-family: 'Dubai' !important;
}



