<div class="post_comments">
  {{ if .Site.DisqusShortname }}
    {{ template "_internal/disqus.html" . }}
  {{ end }}
  {{ if .Site.Params.utterances }}
    {{ template "partials/utterances.html" . }}
  {{ end }}
  <!-- add custom comments markup here -->
  <div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 7276;
    var HYVOR_TALK_CONFIG = {
        url: false,
        id: false
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed.js"></script>
</div>
